<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSS.Properties.Settings>
            <setting name="CURRENT_URL" serializeAs="String">
                <value>http://football.ua/rss2.ashx</value>
            </setting>
            <setting name="IS_PROXY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PROXY_IP" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
            <setting name="PROXY_PORT" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="IS_AUTHENTICATION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PROXY_USER" serializeAs="String">
                <value>boss</value>
            </setting>
            <setting name="PROXY_PASSWORD" serializeAs="String">
                <value>393735ws</value>
            </setting>
            <setting name="URL_LIST" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://football.ua/rss2.ashx</string>
                        <string>http://ru.uefa.com/rssfeed/news/rss.xml</string>
                        <string>https://www.championat.com/rss/news/football</string>
                        <string>http://k.img.com.ua/rss/ru/all_news2.0.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RSS.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>